<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssg.aintstagram">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application
        android:usesCleartextTraffic="true"
        android:name=".MyKakaoAdapter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_aintstagram"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_aintstagram_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".AddPostActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".SearchResultProfileActivity"/>
        <activity android:name=".FollowActivity"/>
        <activity android:name=".EditPostActivity"/>
        <activity android:name=".CommentActivity"/>
        <activity android:name=".UserPostActivity"/>
        <activity android:name=".HistoryActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ssg.aintstagram.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3f5c6005c0954ba8a11e315b702a5442" />
        <service android:name=".HistoryService" />
    </application>

</manifest>